.form__container {
    flex: 1 1 auto;
    max-width: 1200px;
    margin: 0 auto;
}
.form__cards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 15px;
    justify-content: center;
    margin-top: 30px;
    max-width: 1200px;
}